@media screen and (max-width:550px) {
    header{
        height: 6vh;
    }

    nav{
        height: 6vh;
        justify-content: start;
        display: flex;
    }

    .logo img {
        width: 50px;
        margin-left: 10px;
    }

    .search input {
        width: 170px;
        height: 30px;
        border-radius: 2px;
        border-style: none;
        /* margin-right: 40px; */
        padding: 0 10px;
    }

    #search{
        font-size: 9px;
    }

    .sign-up{
        display: none;
    }

    .btn1 {
        padding: 6px 15px;
        color: var(--main-bg-color);
        background-color: white;
        border: 1px solid #ffffffd6;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
        margin: 0px -22px;
    }

    .category {
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: auto;
    }

    .category-item {
        min-width: 76px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        /* padding: 0 10px; */
        cursor: pointer;
    }

    .m2 {
        font-size: 9px;
        font-weight: bolder;
    }

    .category-logo {
        min-width: 50px;
    }

    .search input {
        margin: 0 36px 0 12px;
    }

    .cards{
        justify-content: start;
    }

    .flex-all-center{
        font-size: 13px;
    }
}

@media screen and (max-width:280px) {
    header{
        height: 6vh;
    }

    nav{
        height: 6vh;
        justify-content: start;
        display: flex;
    }

    .logo img {
        width: 50px;
        margin-left: 10px;
    }

    .search input {
        width: 120px;
        height: 25px;
        border-radius: 2px;
        border-style: none;
        /* margin-right: 40px; */
        padding: 0 10px;
    }

    #search{
        font-size: 7px;
    }

    .sign-up{
        display: none;
    }

    .btn1 {
        padding: 5px 10px;
        color: var(--main-bg-color);
        background-color: white;
        border: 1px solid #ffffffd6;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 10px;
        margin: 0px -27px;
    }

    .category {
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: auto;
    }

    .category-item {
        min-width: 76px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        /* padding: 0 10px; */
        cursor: pointer;
    }

    .m2 {
        font-size: 9px;
        font-weight: bolder;
    }

    .category-logo {
        min-width: 50px;
    }

    .search input {
        margin: 0 36px 0 12px;
    }

    .cards{
        justify-content: start;
    }

    .flex-all-center{
        font-size: 13px;
    }
}



